.form-container {
    background-color: #000000b3;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-content {
    overflow: auto;
    background-color: #fff;
    width: 100%;
    margin: 12px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 2px 3px 16px mediumpurple;
    height: 600px;
}

.form-container input {
    width: 85%;
    margin: 10px;
    padding: 18px;
    border: none;
    box-shadow: 1px 3px 10px rgb(51 51 51 / 55%);
    border-radius: 8px;
    font-size: 1.1rem;
}

.form-info {
    text-align: center;
    margin-bottom: 20px;
    padding-top: 25px;
}